@font-face {
    font-family: 'Circular Std';
    src: url('./CSS/fonts/CircularStd-MediumItalic.eot');
    src: local('./CSS/fonts/Circular Std Medium Italic'), local('./CSS/fonts/CircularStd-MediumItalic'),
        url('./CSS/fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-MediumItalic.woff') format('woff'),
        url('./CSS/fonts/CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./CSS/fonts/CircularStd-Black.eot');
    src: local('./CSS/fonts/Circular Std Black'), local('./CSS/fonts/CircularStd-Black'),
        url('./CSS/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-Black.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-Black.woff') format('woff'),
        url('./CSS/fonts/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./CSS/fonts/CircularStd-Medium.eot');
    src: local('./CSS/fonts/Circular Std Medium'), local('./CSS/fonts/CircularStd-Medium'),
        url('./CSS/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-Medium.woff') format('woff'),
        url('./CSS/fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./CSS/fonts/CircularStd-Bold.eot');
    src: local('./CSS/fonts/Circular Std Bold'), local('./CSS/fonts/CircularStd-Bold'),
        url('./CSS/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-Bold.woff') format('woff'),
        url('./CSS/fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./CSS/fonts/CircularStd-BlackItalic.eot');
    src: local('./CSS/fonts/Circular Std Black Italic'), local('./CSS/fonts/CircularStd-BlackItalic'),
        url('./CSS/fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-BlackItalic.woff') format('woff'),
        url('./CSS/fonts/CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('./CSS/fonts/CircularStd-BookItalic.eot');
    src: local('./CSS/fonts/Circular Std Book Italic'), local('./CSS/fonts/CircularStd-BookItalic'),
        url('./CSS/fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-BookItalic.woff') format('woff'),
        url('./CSS/fonts/CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('./CSS/fonts/CircularStd-BoldItalic.eot');
    src: local('./CSS/fonts/Circular Std Bold Italic'), local('./CSS/fonts/CircularStd-BoldItalic'),
        url('./CSS/fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-BoldItalic.woff') format('woff'),
        url('./CSS/fonts/CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('./CSS/fonts/CircularStd-Book.eot');
    src: local('./CSS/fonts/Circular Std Book'), local('./CSS/fonts/CircularStd-Book'),
        url('./CSS/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('./CSS/fonts/CircularStd-Book.woff2') format('woff2'),
        url('./CSS/fonts/CircularStd-Book.woff') format('woff'),
        url('./CSS/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Circular Std';
}



@media(max-width:1160px){
    .container{
        width: 1000px;
    }
    .all-title{
        font-size: 35px;
        width: 450px;
    }
    .users-content .users-title{
        font-size: 35px;
        line-height: 40px;
        width: 290px;
    }
    .users-content .users-text{
        width: 290px;
    }
    .users-thumb{
        width: 0;
    }
.container .sending-circle-image{
    width: 0;
}
    
}

@media(max-width:1020px){
    .container{
        width: 900px;
    }
    .all-top{
        width: 0%;

    }
    .all-bottom{
        width: 0%;
    }
    .all-content .all-title{
        font-size: 30px;
        line-height: 35px;
        width:270px;
    }
    .all-text{
        font-size: 16px;
        width: 320px;
    }
    .form{
        position: relative;
    }
    .form-label .form-input{
        padding:15px 10px;
        width: 330px;
        padding-left: 80px;
    }
    .form-label .form-button{
        padding: 5px 10px;
        top: 8%;
        right: 5%;
      
        position: absolute;
        font-size: 16px;
    }
    .users{
        background-size:cover !important;
        
    }
    .programs-link .programs-link-title{
        font-size: 18px;
        width: 150px;

    }
    .programs-link-image{
        width: 40px;
    }
    .design-title{
        font-size:35px;
        line-height: 45px;
        width: 400px;
    }
    .container .sending-title{
         font-size: 50px;
         line-height: 60px;
     }
     .sending-form-label .sending-form-input{
         padding:24px  80px;
     }
    .sending-form-label .sending-form-button{
padding: 17px 30px;
     }
    
}

@media(max-width:920px){
    .container{
        width: 800px;
    }
    .all-content .all-title{
        font-size: 27px;
        line-height: 30px;
        width:240px;
        
    }
    .all-text{
        color: white;
        width: 240px;
        
    }
    .form{
        position: relative;
    }
    .form-label .form-input{
        padding:15px 10px;
        width: 270px;
        padding-left: 50px;
    }
    .form-label .form-button{
        padding: 5px 10px;
        top: 8%;
        right: 13%;
      
        position: absolute;
        font-size: 16px;
    }
    .fast-content .fast-content-title{
        font-size: 35px;
        line-height: 45px;
        width: 250px;
    }
    .design-content .design-title{
        font-size:35px;
        line-height: 35px;
        width: 340px;
    }
.design-content .design-text{
    font-size: 18px;
    line-height: 22px;
}
.design-content .design-button{
    padding: 8px 25px;
}
.footer-list .footer-item .footer-link{
    width: 0%;
}
}

@media(max-width:820px){
    .container{
        width: 700px;
    }
    .all .container{
        width: 700px;
    }
    
    /* .all-content{
        margin-left: 200px;
    } */
    
    .form{
        position: relative;
    }
    .form-label .form-input{
        padding:15px 10px;
        width: 270px;
        padding-left: 50px;
    }
    .form-label .form-button{
        padding: 5px 10px;
        top: 8%;
        right: 1%;
      
        position: absolute;
        font-size: 16px;
    }
    .all-content .all-text{
        color: white;
    }
    .all-content .all-title{
        color: white;
    }
    .fast .container {
        /* flex-direction: column; */
    }
    .container .programs-title{
        font-size: 45px;
        line-height: 55px;
    }
    .programs-list{
        flex-direction: column;
    }
    .container .programs-list .programs-item{
        width: 400px;
    }
    .programs-link-title{
        width: 300px;

padding-left: 10px;    }
.customers .container .customers-title{
    font-size: 32px;
    margin-bottom: 10px;
    
}
.introduction .introduction-image{
    width: 60px;
}
.container .sending-info .sending-title{
    font-size: 30px;
}

.container .sending-form .sending-form-input{
    padding:15px 60px;
}
.sending-form-label .sending-form-button{
    padding: 15px;


}
.container .nav-link{
    color: rgb(37, 44, 44);
}

.users .users-text{
    color: black;
}

}

@media(max-width:720px){
    .container{
        width: 600px;
    }
    .all .container{
        width: 600px;
    }
    .form{
        position: relative;
    }
    
    .form-label .form-button{
        padding: 5px 10px;
        top: 8%;
        left: 75%;
      
        position: absolute;
        font-size: 16px;
    }
    .all-content .all-title{
        font-size: 37px;
        line-height: 30px;
        width:300px;
        color:#fff;
    }
    .all-content .all-text{
        color:white;
        width: 300px;
    }
    
    .container .all-button{
        display: block;
        margin-left: 390px;
    }
    .container .nav-list{
        display: none;
    }
    .fast-list{
        width: 200px;
        
    }
    .container .fast-list .fast-item .fast-link{
        flex-direction: column;
        
    }
    .fast-item .fast-link-title{
        font-size: 18px;
    }
    .users-content .users-title{
        font-size: 30px;
        width: 240px;

    }
    .container .programs-list .programs-item{
        width: 400px;
    }
    .design .container{
        /* flex-direction: column; */
        flex-wrap: wrap-reverse;
    }
    .container .design-content .design-button{
        margin-bottom: 60px;
    }
    .sending .container  {
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
    }
    .sending .container .sending-title{
        font-size: 30px;
        width: 200px;
    }
    .sending .container .sending-text{
        font-size: 18px;
        /* width: 350px; */
        
    }
    .container .sending-form .sending-form-label .sending-form-input{
        
        width: 250px;
    }
    .container .sending-form .sending-form-label .sending-form-button{
        width: 250px;
}
    .container .sending-photo .sending-back-image{
        width: 600px;
        height: 400px;
    }
    .container .customers-item{
        width: 300px;
        margin: 0px 15px;
    }
    .container .sending-title{
        margin-top: 1px;
        margin-bottom: 10px;
    }
    .users{
        background-image: none !important;
        
    }
    .users .container .users-content {
        /* align-items: flex-start; */
        /* justify-content: center; */
    /* display: flex;
     */
     margin: 0 auto;
     text-align: justify;
    }
}

@media(max-width:620px){
    .container{
        width: 500px;
    }
    .all .container{
        width: 500px;
    }
    .form{
        position: relative;
    }
    .all .container .navbar .container{
        width:500px;
    }
    
    .form-label .form-button{
        padding: 5px 10px;
        top: 8%;
        left: 88%;
      
        position: absolute;
        font-size: 16px;
    }
    .all.container.navbar .container{
        width:500px;

    }
    .all{
        background-image: none !important;
        background-color: #F2F2F2;
    }
    .all-all .all-content{
        margin:0 auto;
    }
    .container .all-button{
        display: block;
        margin-left:auto;
    }
    .nav-item .nav-link{
        color: black;
    }
    .container .nav-title{
        color: black;
    }
    .all-content .all-text{
        color: black;
    }
    .all-content .all-title{
        color: black;
    }
    .users{
        background-image: none !important;
        
    }
    
    .container .users-content{
        margin-left: 100px;
    }
    .container  .design-content .design-title{
        font-size:25px;
        width: 200px;
    }
    .customers-list{
        flex-direction: column;
    }
    .customers-list .customers-item{
        width: 300px;
        margin: 20px 0px;
    }
    .container .customers-subtitle{
        margin-bottom: 20px;
    }
    
   .sending .container {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding-left: 150px;
   }
   .design .container{
       
       flex-direction: column-reverse;
   }
    .container .design-content .design-title{
        text-align: center;
        
    }
    .container .design-content .design-text{
        width: 300px;
        
        
    }
    .container .design-content .design-button{
    width:270px;
    }
    .fast-content .fast-content-title {
        width: 220px;
        font-size: 30px;
        line-height: 35px;
    }
    .sending .container .sending-text{
        width: 300px;
    }
    .container .users-content .users-title{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .users .container .users-button{
        width: 220px;
        color: white;
    }
}

@media(max-width:520px){
    .container{
        width: 400px;
    }
    .all .container{
        width: 350px;
    }
    .all-content .all-text{
        color: black;
    }
     .all .container .navbar .container{
        width: 300px;
    }
   
    .all-content .all-title{
        color: black;
        font-size: 25px;
        width: 220px;
    }
    .form{
        position: relative;
    }
    
    
    .form-label .form-button{
        padding: 5px 5px;
        top: 8%;
    left: 100%;
      
        position: absolute;
        font-size: 17px;
        color:whitesmoke;
    }
    .container .all-button{
        display: block;
        width: 30px;
        margin-left: auto;
    }
    .nav-item{
        display: none;
 
    }
    .fast .container{
        flex-direction: column;
        /* margin-right: 70px; */
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .fast-content .fast-content-text{
        font-size: 15px;
        width: 200px;
    }
    .fast-content .fast-content-button{
        padding: 7px;
        width: 200px;
    }
    .container .users-title{
        font-size: 30px;
        
    }
    .container .users-text{
        width: 250px;
        font-size: 18px;
        line-height: 28px;
    }
    .container .design-photo{
        width: 0%;
    }
    .container .design-content .design-button{
        margin-bottom: 10px;
    }
    .design{
        padding-bottom: 10px;
    }
    .container .customers-subtitle{
     font-size: 16px;
     width: 380px;
    }
   .sending .container  .sending-photo{
        width: 0%;
    }
    
    .sending-back-image{
        width: 0%;
    }
    .sending-circle-image{
        width: 0%;
    }
    .sending .container .sending-title{
        font-size: 25px;
    }
    .sending .container .sending-text{
        width: 200px;
    }
    .sending .container .sending-form .sending-label .sending-form-input{
        width: 100px;
    }
    .sending .container .sending-form  .sending-label .sending-form-button{
        width: 100px;
    }
    .container .programs-list  .programs-item{
        width: 270px;
    }
    .container .design-content .design-text{
        width: 250px;
    }
    .container .design-content .design-button{
        width: 220px;
    
    }
    .container .form-label .form-button{
        width: 120px;
        margin-left: 10px;
    }
}

@media(max-width:420px){
    .container{
        width: 90%;
    }
    .all .container{
        width: 300px;
    }
    .all .container .navbar .container{
        width: 300px    ;
    }
    .form{
        position: relative;
    }
    .form .form-label .form-button{
        padding: 6px 19px 6px 8px;
        top: 8%;
    left: 98%;
    margin-left: 30px;
      
        position: absolute;
        font-size: 18px;
        color:whitesmoke;
    }
    
    .container .users-title{
        font-size: 23px;
        width: 180px;
    }
    .container .customers-subtitle{
        font-size: 16px;
        width: 340px;
       }
       .container .sending-form .sending-form-label .sending-form-input{
           width: 180px;
       }
       .container .sending-form .sending-form-label .sending-form-button{}
}
/* **********************all******************** */
.all-button{
    width: 30px;
    display: none;
}

.all {
    background-image: url("./img/BG\ \(1\).png");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding:0px 50px 50px 50px ;
    padding-bottom: 180px;
}

/* .present-thumb {
    position: absolute;
    top: 12%;
    left: 46%;
    width: 100%;
}

.laptop-thumb {
    position: absolute;
    bottom: 20%;
    left: 75%;
    width: 100%;
} */

.all-all {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 5px; */
}
.sending-form-button:hover{
    color: black;
    transition: 0.4s;
}
.all-content,
.all-photo {
    width: 38%;
}

.navbar {
    /* padding-top: 23px; */
}
.all-button{
    display: none;

}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: block;
    padding: 10px 35px;
    font-family: CircularStd;
    font-size: 19px;
    line-height: 29px;
    text-align: right;
    letter-spacing: -0.500211px;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}
.nav-link:hover{
    color: red;
}

.demos {
    font-size: 19px;
    color: #F04037;
}

.nav-title {
    padding: 10px;
    font-family: CircularStd;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.750316px;
    color: #19191B;@
}

.all-title {
    margin-top: 100px;
    font-family: CircularStd;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 28px;
}

.all-text {
    font-family: CircularStd;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-bottom: 40px;
}

.form {
    position: relative;
    outline: none;

}

.form-icon {
    position: absolute;
    left: 0;
    top: 37%;
    margin-left: 20px;
    margin-right: 21px;
}

.form-button {
    position: absolute;
    right: 1%;
    top: 6%;
    background-color: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    padding: 17px 45px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #fff;

}

.form-label {
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 25px;
    padding-left: 60px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
}

.fast {
    background-color: #413E65;
    padding: 152px 0;
}

.fast .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fast-parts,
.fast-content {
    width: 35%;
}

.fast-content-title {
    font-family: CircularStd;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.87579px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.fast-content-text {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.702469);
    margin-bottom: 40px;
}

.fast-content-button {
    background: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    padding: 17px 22px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
}

.fast-item {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 26px;
    margin-bottom: 25px;
    display: flex;
}

.fast-link {
    display: flex;
    align-items: flex-start;

}

.form-button:hover {
    color: black;
    transition: 0.3s;

}

.fast-content-button:hover {
    color: black;
    transition: 0.3s;
}

.users-button:hover {
    color: black;
    transition: 0.3s;
}

.fast-link-image {
    margin-right: 27px;
}

.fast-link-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-bottom: 13px;
}

.fast-link-text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
}

.users {
    padding-top: 181px;
    background-image: url("./img/boy.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 150px;
    position: relative;
    background-color: #F2F2F2;
}

.users-photo {
    position: absolute;
    left: 42%;
    top: 65%;
    width: 100%;
}

.users .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users-content {
    width: 50%;
    margin-left: 50px;
}

.users-title {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 20px;
    width: 420px;
}

.users-text {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -0.656526px;
    color: #696871;
    width: 400px;
    margin-bottom: 61px;
}

.users-button {
    padding: 17px 22px;
    background-color: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
}

.programs {
    padding-top: 86px;
    background-color: #F7F7FB;

}

.programs-title {
    font-family: CircularStd;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 60px;

}

.programs-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 132px;
}

.programs-item {
    background-color: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    width: 30%;
    padding: 26px 40px;
    margin-bottom: 34px;
}

.bootstrap,
.fully {
    width: 40%;
}

.programs-link-image {
    margin-right: 16px;
    background-color: rgba(240, 64, 55, 0.097195);
    border-radius: 50%;
}

.programs-link-title {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.programs-link {
    display: inline-block;
    display: flex;
    align-items: center;
}

.design {
    padding-top: 126px;
    padding-bottom: 145px;
    background-color: #F2F2F2;
}

.design .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.design-content,
.design-photo {
    width: 40%;
}

.design-title {
    font-family: CircularStd;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 21px;
}

.design-text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-bottom: 36px;
}

.design-button {
    background-color: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    padding: 16px 25px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    transition: 0.3s;
}

.design-photo {
    position: relative;
}

.computer-thumb {
    position: absolute;
    left: -15%;
    bottom: 5%;
}

.customers {
    padding-top: 90px;
    background-color: #F7F7FB;
    padding-bottom: 124px;
}

.customers-title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 14px;
}

.customers-subtitle {
    font-family: CircularStd;
    font-size: 21px;
    line-height: 31px;
    
    
    text-align: center;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-bottom: 80px;
}

.customers-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 82px;
}

.customers-item {
    width: 35%;
    background-color: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    padding: 30px;
}

.customers-link-info {
    text-align: start;
    font-family: CircularStd;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-bottom: 28px;
}

.introduction {
    display: flex;
}
.design-button:hover{
    color: black;
    
}

.introduction-image {
    margin-right: 15px;
}

.names p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
}

.names-bold {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.656526px;
    color: #19191B;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.dot1 {
    border-radius: 4px;
    width: 40px;
    height: 8px;
    background-color: #5454D4;
    text-align: center;
}

.dot2,
.dot3 {
    border-radius: 4px;
    width: 20px;
    height: 8px;
    margin-left: 7px;
    background-color: #EAE9F2;
}

.dot2:hover,
.dot3:hover {
    background-color: #5454D4;
}

.sending {
    background-color: #413E65;
    padding-top: 138px;
    padding-bottom: 136px;

}

.sending .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.sending-info,
.sending-photo {
    width: 45%;
}

.sending-back-image {
    border-radius: 10px;
}

.sending-photo {
    position: relative;
}

.circle {
    position: absolute;
    bottom: 23%;
    left: 40%;
}

.sending-title {
    margin-top: 60px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sending-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 36px;
}

.sending-form {
    width: 80%;
}

.sending-form-label {
    width: 100%;
    position: relative;
}

.sending-form-input {
    width: 100%;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    outline: none;
    padding: 24px 150px;
    position: relative;
    margin-bottom: 21px;
    color: #696871;
}

.sending-form-image {
    position: absolute;
    bottom: 83%;
    margin-left: 25px;
}

.sending-form-button {
    width: 100%;
    background-color: #F04037;
    border: 1px solid #C31A12;
    border-radius: 10px;
    padding: 17px 122px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
}

.footer {
    padding-top: 110px;
    padding-bottom: 100px;
}

.footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-link-title {
    font-family: CircularStd;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-bottom: 19px;

}

.footer-link-info {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
    margin-bottom: 22px;
}

.footer-link {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.500211px;
    color: #19191B;
    font-weight: bold;
}

.link-list {
    margin-top: 25px;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.500211px;
    color: #19191B;
}

.link-link {
    display: inline-block;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: -0.500211px;
    color: #19191B;
}

.footer-span {
    margin-bottom: 35px;
}